---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"f877cb5f-181d-4c70-8098-0123bb229c9d","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/5eed8904-a151-40f3-a45f-1870f8578e5d
      X-Applicationuid:
      - GUID=39f386ec-4084-449e-98c8-b5d73ebc007e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5eed8904-a151-40f3-a45f-1870f8578e5d","status":"ACTIVE","merchantCustomerId":"f877cb5f-181d-4c70-8098-0123bb229c9d","locale":"en_US","paymentToken":"PqWqxBKcWmfyfl2"}'
  recorded_at: Wed, 15 Jan 2020 16:36:53 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/5eed8904-a151-40f3-a45f-1870f8578e5d/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/5eed8904-a151-40f3-a45f-1870f8578e5d/addresses/77238809-2e9d-4628-8971-23d2ec295539
      X-Applicationuid:
      - GUID=c16d5fc8-abf3-45ba-8d1f-53cc32bfa7f6
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"77238809-2e9d-4628-8971-23d2ec295539","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 16:36:53 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/5eed8904-a151-40f3-a45f-1870f8578e5d/cards
    body:
      encoding: UTF-8
      string: '{"billingAddressId":"77238809-2e9d-4628-8971-23d2ec295539","cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/5eed8904-a151-40f3-a45f-1870f8578e5d/cards/937a937b-c16f-463a-97e3-2984cb33a2d4
      X-Applicationuid:
      - GUID=b4568b8d-ce92-4a3e-9643-de913c9dcccd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"937a937b-c16f-463a-97e3-2984cb33a2d4","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"77238809-2e9d-4628-8971-23d2ec295539","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CqBc9PEpbIeDFxL","storedCredentialTokenStatus":"UNVERIFIED","defaultCardIndicator":true}'
  recorded_at: Wed, 15 Jan 2020 16:36:53 GMT
recorded_with: VCR 5.0.0
