---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"9d371b23-4e97-4888-bfa8-a68927825a66","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=99b6e807-14a1-4339-9196-46e767ae618d
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a04d8de1-4f23-4846-a537-003dbf720cb8","status":"ACTIVE","merchantCustomerId":"9d371b23-4e97-4888-bfa8-a68927825a66","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PTMUmuVfUnAaqtv","email":"test@test.com","addresses":[{"id":"a1ecc15d-0832-493c-96a4-4c2719702284","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"7ce04987-1b78-45e0-9ecf-783862689b15","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"a1ecc15d-0832-493c-96a4-4c2719702284","cardType":"VI","cardCategory":"CREDIT","paymentToken":"Ci4RLUejMnbbHRa","defaultCardIndicator":true}]}'
  recorded_at: Wed, 15 Jan 2020 16:24:30 GMT
recorded_with: VCR 5.0.0
