---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"a8ea1213-c166-415c-9815-8343b40c4e80","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/d7001eed-7f7a-4627-90e2-4e2c1ecdc5d9
      X-Applicationuid:
      - GUID=ad1b9b24-12a9-4712-a3d6-19dd706936b9
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d7001eed-7f7a-4627-90e2-4e2c1ecdc5d9","status":"ACTIVE","merchantCustomerId":"a8ea1213-c166-415c-9815-8343b40c4e80","locale":"en_US","paymentToken":"PfLQj1KG0yyIduA"}'
  recorded_at: Wed, 15 Jan 2020 17:23:25 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/d7001eed-7f7a-4627-90e2-4e2c1ecdc5d9/cards
    body:
      encoding: UTF-8
      string: '{"cardNum":"4111111111","cardExpiry":{"month":12,"year":2017}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Application-Status-Code:
      - '5068'
      X-Applicationuid:
      - GUID=1b8bca20-7611-4f71-b905-4a72cf140056
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"5068","message":"Either you submitted a request that
        is missing a mandatory field or the value of a field does not match the format
        expected.","fieldErrors":[{"field":"cardNum","error":"size must be between
        12 and 20"},{"field":"cardNum","error":"Luhn checksum failed"}],"links":[{"rel":"errorinfo","href":"https://developer.paysafe.com/en/rest-api/vault/test-and-go-live/vault-errors/#ErrorCode5068"}]}}'
  recorded_at: Wed, 15 Jan 2020 17:23:25 GMT
recorded_with: VCR 5.0.0
