---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"84feb50b-4c25-4a9c-b683-c24d23bf0890","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26
      X-Applicationuid:
      - GUID=73485298-8d47-43d7-ac29-bc6bac26588f
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"767af5f8-0bd2-48fc-81eb-5b9392d8fc26","status":"ACTIVE","merchantCustomerId":"84feb50b-4c25-4a9c-b683-c24d23bf0890","locale":"en_US","paymentToken":"PhCv64ZshhdgGaf"}'
  recorded_at: Wed, 15 Jan 2020 16:39:26 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26/addresses/503af98b-6276-4ffd-8fa7-30b206e154b6
      X-Applicationuid:
      - GUID=a1e3c551-ff5e-42c9-89fa-ae32aa19475f
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"503af98b-6276-4ffd-8fa7-30b206e154b6","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 16:39:26 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26/cards
    body:
      encoding: UTF-8
      string: '{"billingAddressId":"503af98b-6276-4ffd-8fa7-30b206e154b6","cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26/cards/a93c6e9a-196d-4e60-8330-b4a9b55ed4eb
      X-Applicationuid:
      - GUID=10149af4-1769-464e-b270-401430112931
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"a93c6e9a-196d-4e60-8330-b4a9b55ed4eb","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"503af98b-6276-4ffd-8fa7-30b206e154b6","cardType":"VI","cardCategory":"CREDIT","paymentToken":"C8CQSKWL0wN6rNX","storedCredentialTokenStatus":"UNVERIFIED","defaultCardIndicator":true}'
  recorded_at: Wed, 15 Jan 2020 16:39:26 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/767af5f8-0bd2-48fc-81eb-5b9392d8fc26/cards/a93c6e9a-196d-4e60-8330-b4a9b55ed4eb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=e9fe78bb-6937-4611-9159-f05862513513
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 15 Jan 2020 16:39:26 GMT
recorded_with: VCR 5.0.0
