---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"4ec00da5-3e39-41b3-b438-705f1bd94833","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/7a7f9f08-4000-4a6c-b0a8-cf04493ad623
      X-Applicationuid:
      - GUID=947e1f1a-3bac-4748-91ac-1a053f0ec55f
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7a7f9f08-4000-4a6c-b0a8-cf04493ad623","status":"ACTIVE","merchantCustomerId":"4ec00da5-3e39-41b3-b438-705f1bd94833","locale":"en_US","paymentToken":"PXhu6OdTHZm3ZFx"}'
  recorded_at: Wed, 15 Jan 2020 18:49:52 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/7a7f9f08-4000-4a6c-b0a8-cf04493ad623/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/7a7f9f08-4000-4a6c-b0a8-cf04493ad623/addresses/9b9b380b-ac25-423e-a867-d4a7ed47419b
      X-Applicationuid:
      - GUID=fb5126d2-379d-4ade-98b8-f8a83066f8ec
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"9b9b380b-ac25-423e-a867-d4a7ed47419b","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 18:49:52 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/7a7f9f08-4000-4a6c-b0a8-cf04493ad623/addresses/9b9b380b-ac25-423e-a867-d4a7ed47419b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=6254b55f-8220-4c11-9eac-8681cfe3d606
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 15 Jan 2020 18:49:52 GMT
recorded_with: VCR 5.0.0
