---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"22d7cc6f-be00-44cf-9db2-4ce70768a496","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/2caab849-1a6b-4e47-9a01-3694c2bf94da
      X-Applicationuid:
      - GUID=2f69c616-7ddb-4959-aac4-3eefaa1ce4a6
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2caab849-1a6b-4e47-9a01-3694c2bf94da","status":"ACTIVE","merchantCustomerId":"22d7cc6f-be00-44cf-9db2-4ce70768a496","locale":"en_US","paymentToken":"P6soBWDDPuyT1P6"}'
  recorded_at: Wed, 15 Jan 2020 17:35:41 GMT
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/2caab849-1a6b-4e47-9a01-3694c2bf94da
    body:
      encoding: UTF-8
      string: '{"firstName":"Testing","lastName":"Testing","email":"example@test.com","merchantCustomerId":"fcfefd09-c540-4ef8-88dd-e349edd82f97","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=ba2a2b0d-b6f6-4f55-a6c7-1b9b3ec86aea
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2caab849-1a6b-4e47-9a01-3694c2bf94da","status":"ACTIVE","merchantCustomerId":"fcfefd09-c540-4ef8-88dd-e349edd82f97","locale":"en_US","firstName":"Testing","lastName":"Testing","paymentToken":"P6soBWDDPuyT1P6","email":"example@test.com"}'
  recorded_at: Wed, 15 Jan 2020 17:35:41 GMT
recorded_with: VCR 5.0.0
