---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"e5a68ee7-7528-4788-a927-2fee057fa2f2","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/c77205d9-60b4-4532-afbb-1617e3805559
      X-Applicationuid:
      - GUID=ff2c6645-ce50-42f3-ae6a-f85acb486014
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c77205d9-60b4-4532-afbb-1617e3805559","status":"ACTIVE","merchantCustomerId":"e5a68ee7-7528-4788-a927-2fee057fa2f2","locale":"en_US","paymentToken":"PGwU80dwpvNFDVA"}'
  recorded_at: Wed, 15 Jan 2020 18:59:11 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/c77205d9-60b4-4532-afbb-1617e3805559/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/c77205d9-60b4-4532-afbb-1617e3805559/addresses/5c1118d7-41ac-4e17-b937-612fa8c159c2
      X-Applicationuid:
      - GUID=604fe235-7178-4a52-8cd4-eb330acb5a65
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5c1118d7-41ac-4e17-b937-612fa8c159c2","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 18:59:11 GMT
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/c77205d9-60b4-4532-afbb-1617e3805559/addresses/5c1118d7-41ac-4e17-b937-612fa8c159c2
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10018"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=957dcb21-bc7c-4917-b30a-e35288bf45ac
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5c1118d7-41ac-4e17-b937-612fa8c159c2","country":"US","zip":"10018","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 18:59:11 GMT
recorded_with: VCR 5.0.0
