---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications
    body:
      encoding: UTF-8
      string: '{"merchantRefNum":"ee499e7e-c9e6-4ab2-a0ea-325fb347e1a4","billingDetails":{"country":"US","zip":"10014"},"card":{"cardNum":"4111111111111111","cvv":123,"cardExpiry":{"month":12,"year":2050}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=2643054a-0cdc-42e8-8aaf-ec2eff49571d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications/2643054a-0cdc-42e8-8aaf-ec2eff49571d"}],"id":"2643054a-0cdc-42e8-8aaf-ec2eff49571d","merchantRefNum":"ee499e7e-c9e6-4ab2-a0ea-325fb347e1a4","txnTime":"2020-01-15T22:06:24Z","status":"COMPLETED","card":{"type":"VI","lastDigits":"1111","cardExpiry":{"month":12,"year":2050}},"authCode":"816174","billingDetails":{"country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"DD
        Line 1","phone":"000-111000099"},"visaAdditionalAuthData":{},"currencyCode":"USD","avsResponse":"MATCH","cvvVerification":"MATCH"}'
  recorded_at: Wed, 15 Jan 2020 22:06:25 GMT
recorded_with: VCR 5.0.0
