version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "08:30"
      timezone: America/New_York
    open-pull-requests-limit: 10
    groups:
      bundler:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "08:30"
      timezone: America/New_York
    open-pull-requests-limit: 10
    groups:
      github_actions:
        patterns:
          - "*"
