---
http_interactions:
- request:
    method: get
    uri: https://api.test.paysafe.com/paymenthub/v1/payments/33d4624e-847d-47e4-96dd-c832964bc9fb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <UNITY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      - application/json;charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '59998'
      X-Internal-Correlation-Id:
      - 333ccf04-8ede-4dbe-a1b6-869151cf6be4
    body:
      encoding: ASCII-8BIT
      string: '{"id":"33d4624e-847d-47e4-96dd-c832964bc9fb","paymentType":"SIGHTLINE","paymentHandleToken":"SSbLhbXLFnMksSAL","merchantRefNum":"ee8602ef-e4e1-4e2c-88ec-91fbfed64c4a","currencyCode":"USD","settleWithAuth":true,"txnTime":"2020-04-08T19:30:56.000+0000","billingDetails":{"street1":"353
        West St","city":"New York","zip":"10014","state":"NY","country":"US"},"status":"COMPLETED","gatewayReconciliationId":"797aa503-a71d-42c2-9d89-57d4cdd51980","amount":5000,"availableToRefund":5000,"consumerIp":"172.0.0.1","liveMode":false,"simulator":"EXTERNAL","updatedTime":"2020-04-08T19:39:24Z","statusTime":"2020-04-08T19:39:24Z","gatewayResponse":{"paymentProcessorTransactionId":"93827de1-c765-4c51-a934-06be17d9d7c9","lcpTransactionId":"4310bd0d-bf47-4841-ad80-177b2263529b","balance":"0.65","merchantTransactionId":"KKQfflsgxQAI3CEqHp8Kabdqw","processor":"SIGHTLINE","lcpEncodedTransactionId":"%Dyy?8x%z\\Xah47,%FN?"},"availableToSettle":0,"sightline":{"consumerId":"1"},"profile":{"firstName":"John","lastName":"Smith","email":"johnsmith@test.com","dateOfBirth":{"day":1,"month":2,"year":1983},"phone":"6464138000"}}'
  recorded_at: Wed, 08 Apr 2020 19:47:33 GMT
recorded_with: VCR 5.1.0
