---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications
    body:
      encoding: UTF-8
      string: '{"merchantRefNum":"b4082972-0930-418f-9eae-8ae9161afc70","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"cvv":123},"billingDetails":{"country":"US","zip":"10014"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=9f9cc083-4ae4-4fae-8f14-37fc729ecd4e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications/9f9cc083-4ae4-4fae-8f14-37fc729ecd4e"}],"id":"9f9cc083-4ae4-4fae-8f14-37fc729ecd4e","merchantRefNum":"b4082972-0930-418f-9eae-8ae9161afc70","txnTime":"2020-01-21T20:35:14Z","status":"COMPLETED","card":{"type":"VI","lastDigits":"1111","cardExpiry":{"month":12,"year":2050}},"authCode":"146346","billingDetails":{"country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"DD
        Line 1","phone":"000-111000099"},"visaAdditionalAuthData":{},"currencyCode":"USD","avsResponse":"MATCH","cvvVerification":"MATCH"}'
  recorded_at: Tue, 21 Jan 2020 20:35:14 GMT
recorded_with: VCR 5.0.0
