---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"44f649a8-e7aa-4cba-8dda-f46b47e5df9a","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=6d733f61-35f5-4ac0-8c3f-16a5378de05d
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fe51fb7f-8810-4dbd-a2bf-74fbb02496a8","status":"ACTIVE","merchantCustomerId":"44f649a8-e7aa-4cba-8dda-f46b47e5df9a","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PNoMholteMSo8wl","email":"test@test.com","addresses":[{"id":"474cdcf2-fd14-4a4f-a6f4-ba351f1dbdeb","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"25c8785f-8fcd-42ac-8e13-e1fb87ca68ae","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"474cdcf2-fd14-4a4f-a6f4-ba351f1dbdeb","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CjgjZTWdeBK9vem","defaultCardIndicator":true}]}'
  recorded_at: Mon, 27 Jan 2020 20:19:07 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/auths
    body:
      encoding: UTF-8
      string: '{"recurring":"RECURRING","amount":400,"merchantRefNum":"30e701f2-6a92-4d6e-b77e-a53aa3f9c7c4","settleWithAuth":true,"card":{"paymentToken":"CjgjZTWdeBK9vem"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=14709b32-9f1b-4830-8b7d-292d4622838d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"settlement","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/settlements/14709b32-9f1b-4830-8b7d-292d4622838d"},{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/auths/14709b32-9f1b-4830-8b7d-292d4622838d"}],"id":"14709b32-9f1b-4830-8b7d-292d4622838d","merchantRefNum":"30e701f2-6a92-4d6e-b77e-a53aa3f9c7c4","txnTime":"2020-01-27T20:19:07Z","status":"COMPLETED","amount":400,"settleWithAuth":true,"preAuth":false,"availableToSettle":0,"card":{"type":"VI","lastDigits":"1111","cardExpiry":{"month":12,"year":2050}},"authCode":"879884","profile":{"firstName":"test","lastName":"test","email":"test@test.com"},"billingDetails":{"country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"DD
        Line 1","phone":"000-111000099"},"visaAdditionalAuthData":{},"currencyCode":"USD","avsResponse":"MATCH","cvvVerification":"NOT_PROCESSED","settlements":[{"links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/settlements/14709b32-9f1b-4830-8b7d-292d4622838d"}],"id":"14709b32-9f1b-4830-8b7d-292d4622838d","merchantRefNum":"30e701f2-6a92-4d6e-b77e-a53aa3f9c7c4","txnTime":"2020-01-27T20:19:07Z","status":"PENDING","amount":400,"availableToRefund":400}]}'
  recorded_at: Mon, 27 Jan 2020 20:19:08 GMT
- request:
    method: get
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/auths/14709b32-9f1b-4830-8b7d-292d4622838d
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=47551[...]
