---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"a99c8e56-4d5b-461b-acb6-8b752094b6b2","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/9ac71c6b-4d32-41a8-96f8-272d893f6843
      X-Applicationuid:
      - GUID=c950a170-27db-43ab-aab5-846d85babedd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"9ac71c6b-4d32-41a8-96f8-272d893f6843","status":"ACTIVE","merchantCustomerId":"a99c8e56-4d5b-461b-acb6-8b752094b6b2","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PJuZaa01cd2mbvU","email":"test@test.com"}'
  recorded_at: Thu, 16 Jan 2020 20:31:12 GMT
recorded_with: VCR 5.0.0
