---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"0b98001f-2f55-46c7-9104-d3d884ad841a","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=749f1424-6b3c-4c89-b27f-63b3f57cadf6
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a2b7de94-4681-4bab-9c97-418dba096388","status":"ACTIVE","merchantCustomerId":"0b98001f-2f55-46c7-9104-d3d884ad841a","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PCDxStXct5fF6Vv","email":"test@test.com","addresses":[{"id":"890a9410-14fd-48f4-b95f-bfa707cc145f","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"d8780d06-b844-4f62-92ec-b2ec58ba0942","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"890a9410-14fd-48f4-b95f-bfa707cc145f","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CfHBBHQh5EDBYJy","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 20:47:46 GMT
recorded_with: VCR 5.0.0
