---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"3e091b8e-936b-4dcb-af3b-2be4e9471aa1","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/916dbdd5-9388-42e3-83fb-ea764dec95b7
      X-Applicationuid:
      - GUID=2212dce0-ce8c-4364-9208-56a9fdf94310
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"916dbdd5-9388-42e3-83fb-ea764dec95b7","status":"ACTIVE","merchantCustomerId":"3e091b8e-936b-4dcb-af3b-2be4e9471aa1","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PyfPvL8zOal7MFB","email":"test@test.com"}'
  recorded_at: Thu, 16 Jan 2020 21:04:15 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/916dbdd5-9388-42e3-83fb-ea764dec95b7/cards
    body:
      encoding: UTF-8
      string: '{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/916dbdd5-9388-42e3-83fb-ea764dec95b7/cards/666db3e5-cebd-40b9-accd-135c8f0b0532
      X-Applicationuid:
      - GUID=1c2fb0c1-4c1a-44fb-831f-2a70ce336df5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"666db3e5-cebd-40b9-accd-135c8f0b0532","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"cardType":"VI","cardCategory":"CREDIT","paymentToken":"CRPxxNGd9iMyRi4","storedCredentialTokenStatus":"UNVERIFIED","defaultCardIndicator":true}'
  recorded_at: Thu, 16 Jan 2020 21:04:15 GMT
recorded_with: VCR 5.0.0
