---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"e095215b-b837-45a4-a918-f8e170398155","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66
      X-Applicationuid:
      - GUID=1bf29d77-890a-4ca8-ad57-3cbe9e03f320
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66","status":"ACTIVE","merchantCustomerId":"e095215b-b837-45a4-a918-f8e170398155","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PE1Z2KK6RAz3BCt","email":"test@test.com"}'
  recorded_at: Thu, 16 Jan 2020 21:04:15 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66/addresses/7bb1cb18-3ed2-4df1-a868-268ea4dda0f9
      X-Applicationuid:
      - GUID=d14dc5e2-ac77-4cd5-a5a7-a7f1b45b7608
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7bb1cb18-3ed2-4df1-a868-268ea4dda0f9","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Thu, 16 Jan 2020 21:04:15 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66/cards
    body:
      encoding: UTF-8
      string: '{"billingAddressId":"7bb1cb18-3ed2-4df1-a868-268ea4dda0f9","cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/64efd86f-0b0c-4f58-b69d-9e5bf8a2ae66/cards/adba0a9b-ab7f-4893-85d5-a1ef571415d6
      X-Applicationuid:
      - GUID=91b3d04a-e59c-48d2-bf25-08553d39df69
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"adba0a9b-ab7f-4893-85d5-a1ef571415d6","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"7bb1cb18-3ed2-4df1-a868-268ea4dda0f9","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CyfdZmKLGQq0kD7","storedCredentialTokenStatus":"UNVERIFIED","defaultCardIndicator":true}'
  recorded_at: Thu, 16 Jan 2020 21:04:16 GMT
recorded_with: VCR 5.0.0
