---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"5efaa401-f844-4dda-854e-3d83c34190b7","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/d10bf131-aa05-44e6-96a1-8874b1a0d17d
      X-Applicationuid:
      - GUID=79ffeff7-5a20-4791-9c93-9cc68c780273
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d10bf131-aa05-44e6-96a1-8874b1a0d17d","status":"ACTIVE","merchantCustomerId":"5efaa401-f844-4dda-854e-3d83c34190b7","locale":"en_US","paymentToken":"PAlynihmK3UdG5t"}'
  recorded_at: Wed, 15 Jan 2020 16:27:08 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/d10bf131-aa05-44e6-96a1-8874b1a0d17d/addresses
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10014"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/d10bf131-aa05-44e6-96a1-8874b1a0d17d/addresses/7dd4159d-3fe0-4f4d-9834-6d492a8e020a
      X-Applicationuid:
      - GUID=52ebd7e8-fc17-4635-a99d-f72f2e69d4e3
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7dd4159d-3fe0-4f4d-9834-6d492a8e020a","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Jan 2020 16:27:09 GMT
recorded_with: VCR 5.0.0
