---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"2d6d8b1d-6880-470a-87a9-0a944768fd34","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/c81d57b6-2c37-461c-a064-9f560e49ab2b
      X-Applicationuid:
      - GUID=84c4992d-0a38-4d6f-bc8a-30067dd4293c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"c81d57b6-2c37-461c-a064-9f560e49ab2b","status":"ACTIVE","merchantCustomerId":"2d6d8b1d-6880-470a-87a9-0a944768fd34","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PSL6vnR83UXY5x4","email":"test@test.com"}'
  recorded_at: Thu, 23 Jan 2020 15:58:16 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/c81d57b6-2c37-461c-a064-9f560e49ab2b/cards/invalid
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Application-Status-Code:
      - '5269'
      X-Applicationuid:
      - GUID=2b89589b-2d5f-4bcb-af98-f6dc4c18f9f7
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"5269","message":"The ID(s) specified in the URL do
        not correspond to the values in the system.: invalid","links":[{"rel":"errorinfo","href":"https://developer.paysafe.com/en/rest-api/vault/test-and-go-live/vault-errors/#ErrorCode5269"}]}}'
  recorded_at: Thu, 23 Jan 2020 15:58:16 GMT
recorded_with: VCR 5.0.0
