---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"0a110a60-8b9c-4fd0-b777-aefde2a478bf","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=6ff0e373-2a71-4345-9349-07b83184fdaa
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b558f5b7-97cb-47bc-98c9-28d6afd7878a","status":"ACTIVE","merchantCustomerId":"0a110a60-8b9c-4fd0-b777-aefde2a478bf","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PI3waN7YJnroBGB","email":"test@test.com","addresses":[{"id":"ebb5bd87-d0f6-4292-be90-2b8749f65189","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"4ae6cc15-a5f6-40f1-ada0-3bb58f047862","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"ebb5bd87-d0f6-4292-be90-2b8749f65189","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CXgFPwNNeWp5NXh","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 20:59:13 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/b558f5b7-97cb-47bc-98c9-28d6afd7878a/addresses/ebb5bd87-d0f6-4292-be90-2b8749f65189
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=f9eed63f-f1ba-4d57-85e1-1cafd67e7ea8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 16 Jan 2020 20:59:13 GMT
recorded_with: VCR 5.0.0
