---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"dd753698-0043-46ce-93de-9d4f83a64897","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=3d7c3ee5-7b1e-40c6-aa64-24e70ef3ff0a
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"845e1b28-a675-4fed-88a6-281af3016a01","status":"ACTIVE","merchantCustomerId":"dd753698-0043-46ce-93de-9d4f83a64897","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PJtssZIr16endCl","email":"test@test.com","addresses":[{"id":"107288c2-9b84-4b98-9c3a-e599fa388fcd","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"cb16a843-12d3-470a-a70a-3d26eed385b2","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"107288c2-9b84-4b98-9c3a-e599fa388fcd","cardType":"VI","cardCategory":"CREDIT","paymentToken":"C9MPa0sTQ99fdc0","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 21:10:33 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/845e1b28-a675-4fed-88a6-281af3016a01/cards/cb16a843-12d3-470a-a70a-3d26eed385b2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=50a45631-ce1e-4e60-b4c0-da4702b15598
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 16 Jan 2020 21:10:33 GMT
recorded_with: VCR 5.0.0
