---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"9c427ab6-c0d9-40fc-b1a0-58275e97e058","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.6
      X-Ruby-Platform:
      - x86_64-darwin19
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Internal-Correlation-Id:
      - 510ccbf3-08d2-46ea-845d-6e096c665069
      X-Applicationuid:
      - GUID=9ce93628-5265-4552-9f3b-f2b33ab60d67
      Location:
      - https://api.test.paysafe.com/cv/v1/profiles/518b4aab-ae8b-48a1-94ac-8f78da79b1e0
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"518b4aab-ae8b-48a1-94ac-8f78da79b1e0","status":"ACTIVE","merchantCustomerId":"9c427ab6-c0d9-40fc-b1a0-58275e97e058","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"P1NBT3qsohv3bkW","email":"test@test.com"}'
  recorded_at: Mon, 11 Oct 2021 21:28:02 GMT
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/518b4aab-ae8b-48a1-94ac-8f78da79b1e0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.6
      X-Ruby-Platform:
      - x86_64-darwin19
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Correlation-Id:
      - 33b833e2-feff-47c5-9f41-7bb9efa5f329
      X-Applicationuid:
      - GUID=892d2df9-0438-49d9-bea6-6c2555d3fdbe
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 11 Oct 2021 21:28:02 GMT
recorded_with: VCR 6.0.0
