---
http_interactions:
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/unknown
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.6
      X-Ruby-Platform:
      - x86_64-darwin19
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Internal-Correlation-Id:
      - 117d88e4-890e-49ee-ad04-a08d95ba4471
      X-Applicationuid:
      - GUID=22b09fe0-ba0b-4f25-ad26-20bf6ce16217
      X-Application-Status-Code:
      - '5269'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"5269","message":"The ID(s) specified in the URL do
        not correspond to the values in the system.: unknown","links":[{"rel":"errorinfo","href":"https://developer.paysafe.com/en/rest-api/vault/test-and-go-live/vault-errors/#ErrorCode5269"}]}}'
  recorded_at: Mon, 11 Oct 2021 21:26:30 GMT
recorded_with: VCR 6.0.0
