---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"05e82811-67a5-41a3-9a7f-0abc6fe6cd15","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=b9821726-b170-4877-8ea3-3e8af51ec584
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"f621983a-c6b0-4b5e-a4d9-700bc4f9fece","status":"ACTIVE","merchantCustomerId":"05e82811-67a5-41a3-9a7f-0abc6fe6cd15","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PmucJyC78aze13f","email":"test@test.com","addresses":[{"id":"b0e0027a-a8fe-4f58-8066-dae7e67e2f55","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"5ad3a69d-a0a1-4b92-843d-0d5b1f2b1e25","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"b0e0027a-a8fe-4f58-8066-dae7e67e2f55","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CCvnMAXTYskBoat","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 20:41:01 GMT
- request:
    method: get
    uri: https://api.test.paysafe.com/customervault/v1/profiles/f621983a-c6b0-4b5e-a4d9-700bc4f9fece?fields=cards,addresses
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=379e7512-980e-48b8-a083-273bf58dd383
      Etag:
      - '"0bcbadbcfc5f7b89d055cd7d15eb9aa16"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"f621983a-c6b0-4b5e-a4d9-700bc4f9fece","status":"ACTIVE","merchantCustomerId":"05e82811-67a5-41a3-9a7f-0abc6fe6cd15","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PmucJyC78aze13f","email":"test@test.com","addresses":[{"id":"b0e0027a-a8fe-4f58-8066-dae7e67e2f55","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"5ad3a69d-a0a1-4b92-843d-0d5b1f2b1e25","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"b0e0027a-a8fe-4f58-8066-dae7e67e2f55","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CCvnMAXTYskBoat","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 20:41:01 GMT
recorded_with: VCR 5.0.0
