---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"6701c977-1e16-47e1-ae15-86c46ef2f15f","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=015671df-0d8d-482a-a384-7fc2a2210a1a
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6afc6763-a49d-4ae3-ba35-12d7d1ebacf7","status":"ACTIVE","merchantCustomerId":"6701c977-1e16-47e1-ae15-86c46ef2f15f","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PU2yFb5BSFP5RsV","email":"test@test.com","addresses":[{"id":"8702ea6b-aee3-466e-9be0-8daf124bb3c6","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"9fac67d8-cc99-49cc-9984-636559938b2c","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"8702ea6b-aee3-466e-9be0-8daf124bb3c6","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CQPpTVEkrHFn7Go","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 21:14:21 GMT
- request:
    method: get
    uri: https://api.test.paysafe.com/customervault/v1/profiles/6afc6763-a49d-4ae3-ba35-12d7d1ebacf7/cards/9fac67d8-cc99-49cc-9984-636559938b2c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=7297987e-99a7-4d1a-929f-3dabc51c9ff6
      Etag:
      - '"027c7ac140d41e8dedc00eca364e12045"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"9fac67d8-cc99-49cc-9984-636559938b2c","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"8702ea6b-aee3-466e-9be0-8daf124bb3c6","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CQPpTVEkrHFn7Go","storedCredentialTokenStatus":"UNVERIFIED","defaultCardIndicator":true}'
  recorded_at: Thu, 16 Jan 2020 21:14:21 GMT
recorded_with: VCR 5.0.0
