---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/singleusetokens
    body:
      encoding: UTF-8
      string: '{"card":{"cardNum":"5200400000000009","cardExpiry":{"month":12,"year":2050},"cvv":"123","billingAddress":{"street":"U","country":"US","zip":"10014"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <SUT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=c318a928-d178-4361-b4aa-d2c9958e896d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"47e93e8a-fdad-4b33-81d9-17e1b00a051e","paymentToken":"SCZIa9M865bbU6Xu","timeToLiveSeconds":299,"billingAddress":{"street":"U","country":"US","zip":"10014"},"card":{"cardBin":"520040","lastDigits":"0009","cardExpiry":{"year":2050,"month":12},"cardType":"MC","cardCategory":"CREDIT"}}'
  recorded_at: Wed, 22 Jan 2020 22:04:43 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications
    body:
      encoding: UTF-8
      string: '{"merchantRefNum":"1a498005-d39c-4bbb-a1d2-655940c7a028","card":{"paymentToken":"SCZIa9M865bbU6Xu"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=7c8e9dfe-453b-44d2-a6cd-9db5a22d08e8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications/7c8e9dfe-453b-44d2-a6cd-9db5a22d08e8"}],"id":"7c8e9dfe-453b-44d2-a6cd-9db5a22d08e8","merchantRefNum":"1a498005-d39c-4bbb-a1d2-655940c7a028","txnTime":"2020-01-22T22:04:43Z","status":"COMPLETED","card":{"type":"MC","lastDigits":"0009","cardExpiry":{"month":12,"year":2050}},"authCode":"100911","billingDetails":{"street":"U","country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"DD
        Line 1","phone":"000-111000099"},"visaAdditionalAuthData":{},"currencyCode":"USD","avsResponse":"NOT_PROCESSED","cvvVerification":"MATCH"}'
  recorded_at: Wed, 22 Jan 2020 22:04:44 GMT
recorded_with: VCR 5.0.0
