---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/singleusetokens
    body:
      encoding: UTF-8
      string: '{"card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"cvv":123,"billingAddress":{"country":"US","zip":"10014"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <SUT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=f04d6dbb-5128-41ed-96da-67048a0c4e42
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7ef00c70-9ffa-4b64-b07f-c9650642f41a","paymentToken":"SCGPxWrw9ZRWBcwZ","timeToLiveSeconds":299,"billingAddress":{"country":"US","zip":"10014"},"card":{"cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"cardType":"VI","cardCategory":"CREDIT"}}'
  recorded_at: Wed, 22 Jan 2020 22:04:43 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"singleUseToken":"SCGPxWrw9ZRWBcwZ"},"merchantCustomerId":"f048fe88-7e4d-4a0e-9ece-f97b2b977ba1","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=ccf2946f-6a9e-470d-9682-f269211d45ce
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"f3e5e7b3-57ae-4257-9b17-c3beeb6216bd","status":"ACTIVE","merchantCustomerId":"f048fe88-7e4d-4a0e-9ece-f97b2b977ba1","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PbeLbXAOKl8x6J0","email":"test@test.com","addresses":[{"id":"53423bf9-80c1-45db-86de-e496749a1334","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"252ee123-5620-4030-8eac-40b9b8e33b9d","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"53423bf9-80c1-45db-86de-e496749a1334","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CX4TX5KCvafZN8K","defaultCardIndicator":true,"singleUseToken":"SCGPxWrw9ZRWBcwZ"}]}'
  recorded_at: Wed, 22 Jan 2020 22:04:43 GMT
recorded_with: VCR 5.0.0
