---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/singleusetokens
    body:
      encoding: UTF-8
      string: '{"card":{"cardNum":"5200400000000009","cardExpiry":{"month":12,"year":2050},"cvv":"123","billingAddress":{"street":"18","country":"US","zip":"10014"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 3.0.3
      X-Ruby-Platform:
      - x86_64-darwin20
      Authorization:
      - Basic <SUT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Correlation-Id:
      - 6c9c637c-a3dd-4b3b-8e88-b1bccd600fc2
      Pmle:
      - '379900'
      X-Applicationuid:
      - GUID=a98862d5-55f7-4ea7-9348-16a12a4671be
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8c004c0e-ee75-4e8e-8135-20f9969ba957","paymentToken":"SCPz5wnRERwlxmif","timeToLiveSeconds":299,"billingAddress":{"street":"18","country":"US","zip":"10014"},"card":{"cardBin":"520040","lastDigits":"0009","cardExpiry":{"year":2050,"month":12},"cardType":"MC","cardCategory":"CREDIT"}}'
  recorded_at: Tue, 18 Oct 2022 16:03:52 GMT
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications
    body:
      encoding: UTF-8
      string: '{"merchantRefNum":"1008b9a4-4828-44b2-a838-c79ed09a7d32","card":{"paymentToken":"SCPz5wnRERwlxmif"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 3.0.3
      X-Ruby-Platform:
      - x86_64-darwin20
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=da217b4b-9fa7-4db9-b191-453f209a6ff5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"da217b4b-9fa7-4db9-b191-453f209a6ff5","merchantRefNum":"1008b9a4-4828-44b2-a838-c79ed09a7d32","txnTime":"2022-10-18T16:03:52Z","status":"COMPLETED","card":{"type":"MC","lastDigits":"0009","cardExpiry":{"month":12,"year":2050}},"authCode":"641888","billingDetails":{"street":"18","country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"DD
        Line 1","phone":"000-111000099"},"visaAdditionalAuthData":{},"currencyCode":"USD","avsResponse":"NOT_PROCESSED","cvvVerification":"MATCH","links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/<ACCOUNT_NUMBER>/verifications/da217b4b-9fa7-4db9-b191-453f209a6ff5"}]}'
  recorded_at: Tue, 18 Oct 2022 16:03:52 GMT
recorded_with: VCR 6.0.0
