---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"5a900a56-4ed6-45cc-b3c1-40463db009d8","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=63e5485b-f500-419a-adfe-0583eff235a6
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"dd61aca0-7801-4e9a-b624-06fa53a87fb4","status":"ACTIVE","merchantCustomerId":"5a900a56-4ed6-45cc-b3c1-40463db009d8","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"POvjN8yxxAuG9oz","email":"test@test.com","addresses":[{"id":"e28004fb-ff1b-4cce-b7b1-6f7ad659119f","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"4773d0cb-e281-4b7b-bcca-684cb618a495","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"e28004fb-ff1b-4cce-b7b1-6f7ad659119f","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CdZLF91kg5HwSDB","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 20:59:14 GMT
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/dd61aca0-7801-4e9a-b624-06fa53a87fb4/addresses/e28004fb-ff1b-4cce-b7b1-6f7ad659119f
    body:
      encoding: UTF-8
      string: '{"country":"US","zip":"10018"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=2b97d985-7031-44de-9ee4-a149feed2b76
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"e28004fb-ff1b-4cce-b7b1-6f7ad659119f","country":"US","zip":"10018","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Thu, 16 Jan 2020 20:59:14 GMT
recorded_with: VCR 5.0.0
