---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2050},"billingAddress":{"country":"US","zip":"10014"}},"merchantCustomerId":"bbeb2882-0953-42d8-97e9-82d29ad7eea5","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=e186a823-0995-483d-a899-ddb57f00247f
      Content-Type:
      - application/json
      X-Pad:
      - avoid browser bug
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6b1e7274-281e-4d3a-b3d0-dd53e665cd78","status":"ACTIVE","merchantCustomerId":"bbeb2882-0953-42d8-97e9-82d29ad7eea5","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PQSxYVBDET6szLZ","email":"test@test.com","addresses":[{"id":"bdee43be-a4bf-4909-8159-8596ab2b1694","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"c7f1a6cc-e618-4717-bd26-abdea76420da","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2050,"month":12},"billingAddressId":"bdee43be-a4bf-4909-8159-8596ab2b1694","cardType":"VI","cardCategory":"CREDIT","paymentToken":"CoJDhOoKZbgY8iu","defaultCardIndicator":true}]}'
  recorded_at: Thu, 16 Jan 2020 21:19:01 GMT
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/6b1e7274-281e-4d3a-b3d0-dd53e665cd78/cards/c7f1a6cc-e618-4717-bd26-abdea76420da
    body:
      encoding: UTF-8
      string: '{"cardExpiry":{"month":6,"year":2055}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=5bcbd1e9-ed68-428b-90e1-66e0b789c590
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"c7f1a6cc-e618-4717-bd26-abdea76420da","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2055,"month":6},"cardType":"VI","cardCategory":"CREDIT","paymentToken":"CoJDhOoKZbgY8iu","defaultCardIndicator":true}'
  recorded_at: Thu, 16 Jan 2020 21:19:01 GMT
recorded_with: VCR 5.0.0
