---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"test","email":"test@test.com","merchantCustomerId":"b147ffbe-fc61-4cd9-b86e-7cbb6cdd31d4","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/7cf2f5ef-5a5a-4a88-904f-c436b026b704
      X-Applicationuid:
      - GUID=ed1f4ce6-1802-4c0f-bf99-815af95996cd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7cf2f5ef-5a5a-4a88-904f-c436b026b704","status":"ACTIVE","merchantCustomerId":"b147ffbe-fc61-4cd9-b86e-7cbb6cdd31d4","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PKwOmjOtlPE2rx8","email":"test@test.com"}'
  recorded_at: Thu, 16 Jan 2020 20:47:05 GMT
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/7cf2f5ef-5a5a-4a88-904f-c436b026b704
    body:
      encoding: UTF-8
      string: '{"firstName":"Testing","lastName":"Testing","email":"example@test.com","merchantCustomerId":"4ef42e59-ad12-4157-bb0c-495f35828d88","locale":"en_US"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.6.5
      X-Ruby-Platform:
      - x86_64-darwin18
      Authorization:
      - Basic <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=e97e90b1-3fe9-4b27-bf92-ba5e15994b5d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7cf2f5ef-5a5a-4a88-904f-c436b026b704","status":"ACTIVE","merchantCustomerId":"4ef42e59-ad12-4157-bb0c-495f35828d88","locale":"en_US","firstName":"Testing","lastName":"Testing","paymentToken":"PKwOmjOtlPE2rx8","email":"example@test.com"}'
  recorded_at: Thu, 16 Jan 2020 20:47:05 GMT
recorded_with: VCR 5.0.0
