---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/cards
    body:
      encoding: UTF-8
      string: '{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2019},"billingAddressId":"4bf9d2e7-4be0-4d13-b483-223640cb40a0"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/cards/d63b2910-9ab5-4803-a2a2-1aadcc790cc2
      X-Applicationuid:
      - GUID=e9f6d392-f308-4ca7-8ede-dfa462b3efae
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","id":"d63b2910-9ab5-4803-a2a2-1aadcc790cc2","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2019,"month":12},"billingAddressId":"4bf9d2e7-4be0-4d13-b483-223640cb40a0","cardType":"VI","paymentToken":"CHHzoulx4Xpm31I"}'
  recorded_at: Mon, 26 Oct 2015 18:51:46 GMT
recorded_with: VCR 2.9.3
