---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/singleusetokens
    body:
      encoding: UTF-8
      string: '{"card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2019},"cvv":123,"billingAddress":{"country":"US","zip":"10014"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.3.1
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=42c423fe-3810-4b73-b697-feeff1dbce15
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a2727996-d80d-40b5-ab03-984662b98965","paymentToken":"SCZX26fMKzD9hGhD","timeToLiveSeconds":299,"billingAddress":{"country":"US","zip":"10014"},"card":{"cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2019,"month":12},"cardType":"VI"}}'
  recorded_at: Mon, 01 May 2017 20:41:25 GMT
recorded_with: VCR 3.0.3
