---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles/71e8ced9-143e-4ac8-8085-9ac57cd05cc8/cards
    body:
      encoding: UTF-8
      string: '{"singleUseToken":"SC74mqftTb8HsDTA"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.3.1
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api.test.paysafe.com/customervault/v1/profiles/71e8ced9-143e-4ac8-8085-9ac57cd05cc8/cards/6cb20226-c557-49f0-a25e-a01856cb05ca
      X-Applicationuid:
      - GUID=63609ddd-7410-4645-9de9-bf59cd96dc31
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ACTIVE","id":"6cb20226-c557-49f0-a25e-a01856cb05ca","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2019,"month":12},"billingAddressId":"03682a8b-3113-415a-b70b-6e41827fb0e7","cardType":"VI","paymentToken":"CWPMq2RV3enjbBG","defaultCardIndicator":true}'
  recorded_at: Mon, 01 May 2017 20:41:24 GMT
recorded_with: VCR 3.0.3
