---
http_interactions:
- request:
    method: post
    uri: https://api.test.netbanx.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"1446069505","locale":"en_US","firstName":"test","lastName":"test","email":"test@test.com","card":{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2019},"billingAddress":{"country":"US","zip":"10014"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=a97ae82a-a0aa-4c93-94fc-d09ee691e82a
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"1d50ecd2-8b77-4138-a1af-6f0b6c3b9b3b","status":"ACTIVE","merchantCustomerId":"1446069505","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PovQX1RKgd8daYh","email":"test@test.com","addresses":[{"id":"6146cd5e-b7bd-4867-870e-0adc910d01df","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"7f7513cd-f5ea-49c5-a249-72050bc750e7","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2019,"month":12},"billingAddressId":"6146cd5e-b7bd-4867-870e-0adc910d01df","cardType":"VI","paymentToken":"CNpnmxFwDSK3s9p","defaultCardIndicator":true}]}'
  recorded_at: Wed, 28 Oct 2015 21:58:26 GMT
recorded_with: VCR 2.9.3
