---
http_interactions:
- request:
    method: post
    uri: https://api.test.netbanx.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/cards
    body:
      encoding: UTF-8
      string: '{"cardNum":"4111111111111111","cardExpiry":{"month":12,"year":2019}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 409
      message: Conflict
    headers:
      X-Application-Status-Code:
      - '7503'
      X-Applicationuid:
      - GUID=d365f565-39e1-486f-83f8-b4ca0048fd78
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"7503","message":"Card number already in use - d63b2910-9ab5-4803-a2a2-1aadcc790cc2","links":[{"rel":"errorinfo","href":"https://developer.optimalpayments.com/en/documentation/customer-vault-api/error-7503"}]},"links":[{"rel":"existing_entity","href":"https://api.test.netbanx.com/customervault/v1/cards/d63b2910-9ab5-4803-a2a2-1aadcc790cc2"}]}'
  recorded_at: Tue, 27 Oct 2015 17:50:33 GMT
recorded_with: VCR 2.9.3
