---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/customervault/v1/profiles
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"1493671285.4474912","locale":"en_US","firstName":"test","lastName":"test","email":"test@test.com","card":{"singleUseToken":"SCZX26fMKzD9hGhD"}}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.3.1
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Applicationuid:
      - GUID=2a94a680-e85a-4bae-bb5d-a4ed9e112d58
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1457a1af-5d20-4f76-9de3-7cfcc1c6b526","status":"ACTIVE","merchantCustomerId":"1493671285.4474912","locale":"en_US","firstName":"test","lastName":"test","paymentToken":"PYaENMsNS26M9ru","email":"test@test.com","addresses":[{"id":"52d8952a-6530-47fb-957e-7778df604b0d","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}],"cards":[{"status":"ACTIVE","id":"dd718500-5ddd-43f7-8797-bc89c49e275d","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2019,"month":12},"billingAddressId":"52d8952a-6530-47fb-957e-7778df604b0d","cardType":"VI","paymentToken":"C36QSVylNIVTxEP","defaultCardIndicator":true}]}'
  recorded_at: Mon, 01 May 2017 20:41:25 GMT
recorded_with: VCR 3.0.3
