---
http_interactions:
- request:
    method: delete
    uri: https://api.test.paysafe.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/addresses/4bf9d2e7-4be0-4d13-b483-223640cb40a0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Status-Code:
      - '5279'
      Www-Authenticate:
      - Basic realm="authSecurity"
      X-Applicationuid:
      - GUID=6269a283-4661-43b3-b847-1b52ecb5502e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error": {"code": "5279","message": "The authentication credentials
        are invalid.","links": [{"rel": "errorinfo","href": "https://developer.paysafe.com/en/rest-api/vault/test-and-go-live/vault-errors/#ErrorCode5279"}]}}'
  recorded_at: Wed, 15 Aug 2018 00:39:22 GMT
recorded_with: VCR 4.0.0
