---
http_interactions:
- request:
    method: get
    uri: https://api.test.netbanx.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/cards/972ed74f-6ff1-4a5b-a460-a11e606e2fa9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=57c7979a-95f2-4266-80c0-7a70f1b20b83
      Etag:
      - '"068709e86a0c8577bdbe18d09a8832599"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE","id":"972ed74f-6ff1-4a5b-a460-a11e606e2fa9","cardBin":"411111","lastDigits":"1111","cardExpiry":{"year":2017,"month":12},"holderName":"John
        Smith","billingAddressId":"4bf9d2e7-4be0-4d13-b483-223640cb40a0","cardType":"VI","paymentToken":"CdZk1Yk5EUSJb2v","defaultCardIndicator":true}'
  recorded_at: Wed, 28 Oct 2015 23:19:17 GMT
recorded_with: VCR 2.9.3
