---
http_interactions:
- request:
    method: get
    uri: https://api.test.paysafe.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed/addresses/4bf9d2e7-4be0-4d13-b483-223640cb40a0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Status-Code:
      - '5279'
      Www-Authenticate:
      - Basic realm="authSecurity"
      X-Applicationuid:
      - GUID=1501936f-22de-425e-a089-c94ea63245f2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"4bf9d2e7-4be0-4d13-b483-223640cb40a0","country":"US","zip":"10014","defaultShippingAddressIndicator":false,"status":"ACTIVE"}'
  recorded_at: Wed, 15 Aug 2018 00:39:34 GMT
recorded_with: VCR 4.0.0
