---
http_interactions:
- request:
    method: get
    uri: https://api.test.paysafe.com/customervault/v1/profiles/b088ac37-32cb-4320-9b64-f9f4923f53ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=f1689f1f-e8cb-43fd-b19f-cd1f4b69ac52
      Etag:
      - '"0e52e8f449a340fe242620b5f46ee5ffe"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"b088ac37-32cb-4320-9b64-f9f4923f53ed","status":"ACTIVE","merchantCustomerId":"98b90a55-0b94-4577-8b42-d6e64f819558","locale":"en_US","firstName":"John","lastName":"Snakes","paymentToken":"PUWJ4GO0bWoXAC7","email":"test@test.com"}'
  recorded_at: Fri, 23 Oct 2015 23:01:49 GMT
recorded_with: VCR 2.9.3
