---
http_interactions:
- request:
    method: put
    uri: https://api.test.paysafe.com/customervault/v1/profiles/0978224b-5116-48d4-8a8e-e4b5b7a32285
    body:
      encoding: UTF-8
      string: '{"merchantCustomerId":"1445638620","locale":"en_US","firstName":"Testing","lastName":"Testing","email":"example@test.com"}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=c2018d83-1f31-4c65-91d7-608606a70c03
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"0978224b-5116-48d4-8a8e-e4b5b7a32285","status":"ACTIVE","merchantCustomerId":"1445638620","locale":"en_US","firstName":"Testing","lastName":"Testing","paymentToken":"PSs8LGTqy2y2PcY","email":"example@test.com"}'
  recorded_at: Wed, 02 Mar 2016 22:20:40 GMT
recorded_with: VCR 3.0.1
