---
http_interactions:
- request:
    method: post
    uri: https://api.test.paysafe.com/cardpayments/v1/accounts/1234567890/verifications
    body:
      encoding: UTF-8
      string: '{"merchantRefNum":"1445638620","card":{"cardNum":"4111111111111111","cardExpiry":{"month":6,"year":2019},"cvv":123},"profile":{"firstName":null,"lastName":null,"email":null},"billingDetails":{"country":"US","zip":"10014"},"customerIp":null,"description":null}'
    headers:
      Content-Type:
      - application/json
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      Authorization:
      - Basic YXBpX2tleTphcGlfc2VjcmV0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Applicationuid:
      - GUID=28e1c0ab-d118-43ad-bdb7-638702826e1b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"self","href":"https://api.test.paysafe.com/cardpayments/v1/accounts/1234567890/verifications/28e1c0ab-d118-43ad-bdb7-638702826e1b"}],"id":"28e1c0ab-d118-43ad-bdb7-638702826e1b","merchantRefNum":"1445638620","txnTime":"2015-10-29T22:01:11Z","status":"COMPLETED","card":{"type":"VI","lastDigits":"1111","cardExpiry":{"month":6,"year":2019}},"authCode":"XXXXXX","billingDetails":{"country":"US","zip":"10014"},"merchantDescriptor":{"dynamicDescriptor":"Test","phone":"123-1234123"},"currencyCode":"USD","avsResponse":"MATCH_ZIP_ONLY","cvvVerification":"MATCH"}'
  recorded_at: Thu, 29 Oct 2015 22:01:12 GMT
recorded_with: VCR 2.9.3
